/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 3rem;
}

a:link {
  text-decoration: underline;
}

#links {
	font-size: 3.5em;
	text-align: left;
	text-decoration: none;
}

#fixedBar {
	z-index:1000;
	position: fixed;
	background-color: #041C32;
	opacity: 0.8;
	width: 70%;

}
